@use '../../scss/' as *;

button {
    cursor: pointer;
    font-size: $font-family;
}

.btn,
.btn-outline {
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: 600;
}

.btn {
    color: $text-color;
    background-color: $main-color;
    border: $main-color 2px solid;
    border-radius: $border-radius;
}

.btn:hover {
    color: $main-color;
    background-color: $text-color;
    border: $white 2px solid;
    transition: all 0.4s ease;
}

.btn-outline {
    color: $text-color;
    background-color: transparent;
    border: $white 2px solid;
    outline: none;
    border-radius: $border-radius;
}

.btn-outline:hover {
    color: $main-color;
    background-color: $white;
    transition: all 0.4s ease;
}

.btn-outline.small {
    padding: 0.4rem 1.4rem;
    font-size: 14px;
    font-weight: 600;
}
