@use '../../scss/' as *;

.modal {
    @include flex(center, center);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
